.support {
    background: radial-gradient(circle, #ffffff 10%, transparent 11%),
      radial-gradient(circle at bottom left, #ffffff 5%, transparent 6%),
      radial-gradient(circle at bottom right, #ffffff 5%, transparent 6%),
      radial-gradient(circle at top left, #ffffff 5%, transparent 6%),
      radial-gradient(circle at top right, #ffffff 5%, transparent 6%);
    background-size: 1em 1em;
    background-color: #e9ecef;
    opacity: 1;
}