.benefit {
  background: radial-gradient(circle, #ffffff 10%, transparent 11%),
    radial-gradient(circle at bottom left, #ffffff 5%, transparent 6%),
    radial-gradient(circle at bottom right, #ffffff 5%, transparent 6%),
    radial-gradient(circle at top left, #ffffff 5%, transparent 6%),
    radial-gradient(circle at top right, #ffffff 5%, transparent 6%);
  background-size: 1em 1em;
  background-color: #e9ecef;
  opacity: 1;
}

@media only screen and (max-width: 1475px) {
  .skills{
    display: none;
  }

  .skillsChip{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .benefit{
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .benefitCard{
    max-width: 700px;
  }

  .skillsChip{
    align-items: center;
  }
}
