.HeroSection{
    height: 40rem;
    background-image: linear-gradient(rgba(0,0,0,0.3) 20%,rgba(0,0,0,0.2)),url('https://images.unsplash.com/photo-1507679799987-c73779587ccf?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}