.missionImg{
    background-image: url('../assets//99.svg');
    background-color: #7828C8;
    background-repeat: no-repeat;
    background-position: center;
    height: 35rem;
}

@media only screen and (max-width: 1240px) {
  .missionImg{
    height: 41rem;
  }
}

@media only screen and (max-width: 1023.98px) {
  .missionImg{
    height: 25rem;
  }
}